*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background-image: url("https://png.pngtree.com/png-vector/20230808/ourmid/pngtree-court-room-vector-png-image_6883000.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
h2{
    text-align: center;
    font-size: 32px;
    margin-bottom: 15px;
}
h1{
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
.rena{
    text-align: 15px;
    
}
.nanda{
    width: 420px;
    height: 520px;
    padding: 20px 30px;
    top: 50%;
    left: 50%;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    color: goldenrod;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border: 1px solid goldenrod;
    border-radius: 10px;
}
input{
    width: 100%;
    margin-bottom: 20px;
}
.form-control{
    height: 40px;
    background: transparent;
    color: #fff;
    border: none;
    border-bottom: 1px solid goldenrod;
    outline: none;
}
.btn{
    height: 30px;
    background: goldenrod;
    color: #fff;
    font-size: 18px;
    border: 1px solid  gold;
    border-radius: 10px;
    outline: none;
    transition: 0.5s ease;
}
.btn:hover{
    cursor: pointer;
    background: gold;
    border: 1px solid goldenrod;
}
.tambah{
    color: blue;
}